<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>易宝后台管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="<?php echo base_url('/style/img/icon.png') ?>" />
	<script src=" <?php echo base_url('/style/js/jquery.min.js') ?> "></script>
	<script src="<?php echo base_url('/style/js/bootstrap.min.js') ?>"></script>
	<script src="<?php echo base_url('/style/js/index.js') ?>"></script>
	<link rel="stylesheet" href="<?php echo base_url('/style/css/bootstrap.min.css') ?>">
	<link rel="stylesheet" href="<?php echo base_url('/style/css/index.css') ?>">
</head>
<body style="margin-top: 100px;text-align: center;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				<div class="panel panel-info" id="login">
			        <div class="panel-heading">
			            <h3 class="panel-title">登陆</h3>
			        </div>
			        <div class="panel-body">
			            <form method="POST" action="<?php echo base_url('admin/Privilege/signin')   ?>">
			                <div class="alert alert-danger hide">
			                    <p>警告：这里有一处警告！</p>
			                </div>
			                <div class="input-group">
			                    <span class="input-group-addon">用户名</span>
			                    <input type="text" name="username" class="form-control" placeholder="请输入用户名">
			                </div><br>
			                <div class="input-group">
			                    <span class="input-group-addon">密&nbsp&nbsp&nbsp码</span>
			                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
			                </div><br>
			                <button type="submit" class="btn btn-info">确认登陆</button>
			            </form>
			        </div>
			    </div>
			</div>
			
		</div>
	</div>
	
	
</body>
</html>